@charset utf-8;

/* template-setting
-------------------------------------------------- */
.navbar {
	border-bottom: 1px solid #e8e8e8;
}

/* wrapper
-------------------------------------------------- */
.wrapper {
	width: 980px;
	margin: 64px auto 0;
}
.wrapper-inner {
	margin-right: -31px;
	text-align: left;
	overflow:hidden;
}

.column {
	width: 306px;
	float: left;
	margin: 0 31px 64px 0;
	/*background: #f8f8f8;*/
	position: relative;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 16px;
}
.column a,
.column a:hover {
	color: #333333;
}
.column h3 {
	font-size: 21px;
	font-weight: bold;
	line-height: 1.2;
	margin: 0 auto 10px;
	padding-bottom: 4px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 54px;
}

.column time {
	font-family: 'icomoon';
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	padding: 0;
	margin: 0;
	color: #999999;
	position: absolute;
	right: 0;
	bottom: 17px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.column p {
	font-size: 14px;
	line-height: 1.4;
	margin: 0 auto;
	color: #666666;
}
.column p img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	width: 306px;
	height: 189px;
	background: #f8f8f8;
}
.column p.column-img {
	margin: 16px auto;
}
.column p.column-img a {
	display: block;
	position: relative;
	transition: .2s ease-out;
	opacity: 1;
}
.column p.column-img a:hover {
	transition: .2s ease-out;
	opacity: .7;
}
.column p.column-img a:after {
	position: absolute;
	display: block;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(0, 0, 0, .1);
}

.primary {
	width: 980px;
}
.primary h2 {
	font-size: 21px;
	font-weight: bold;
	line-height: 1.2;
	margin: 0 auto 10px;
	padding-bottom: 4px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.primary p {
	font-size: 16px;
}
.column-topImg {
	position: relative;
	/*background-image: url(../img/column_topImg1.png);*/
	background-size: cover;
	width: 980px;
	height: 303px;
	opacity: 1;
	transition: .2s ease-out;
	margin: 16px auto;
	padding-top: 303px;
}
.column-topImg:hover {
	opacity: .7;
	transition: .2s ease-out;
}
.column-topImg a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	margin: 0;
}

/* sns-button
------------------------- */
.column-sns {
}
.column-sns a {
	color: #999999;
	display: inline-block;
	font-size: 14px;
	margin: 0;
	padding: 0 8px;
	transition: .2s ease-out;
}
.column-sns a:hover,
.column-sns a:focus {
	color: #333333;
	display: inline-block;
	text-decoration: none;
	transition: .2s ease-out;
}
.icon-twitter,
.icon-facebook {
	width: auto;
	opacity:0;
}
a.icon-facebook {
	padding-left: 0;
}
.icon-twitter:before {
	font-size: 16px;
	padding-right: 5px;
	vertical-align: -0.13em;
}
.icon-facebook:before {
	font-size: 16px;
	padding-right: 2px;
	vertical-align: -0.13em;
}
/*#fbcount, #ttcount {
	opacity: 0;
}*/

/* responsive
-------------------------------------------------- */
@media (max-width: 1011px) { /* 980px + lr-margin */
	.wrapper {
		width: 83.3333%;
		margin: 64px auto 16px;
	}
	.wrapper-inner {
		/*width: 100%;*/
		margin-right: -3.6144%;
	}
	.column {
		width: 46.3855%;
		margin: 0 3.6144% 48px 0;
	}
	.column p img {
		width: 100%;
		height: 100%;
		height: 25.0312vw; /* golden-ratio */
	}
	.primary {
		width: 96.3856%;
	}
	.primary p {
		font-size: 14px;
	}
	.column-topImg {
		width: 100%;
		/*height: 100%;*/
		padding-top: 30.9184%;
		height: 30.9184%;
	}
}

@media (max-width: 767px) {
	a img,
	a:hover img {
		opacity: 1;
	}
	.wrapper {
		width: 83.3333%;
		margin: 48px auto 0;
	}
	.wrapper-inner {
		margin-right: 0;
		text-align: left;
		overflow:hidden;
	}
	.column {
		width: 100%;
		float: none;
		margin: 0 auto 48px;
		/*background: #f8f8f8;*/
	}
	.column a,
	.column a:hover {
		text-decoration: none;
	}
	.column h3 {
		font-size: 21px;
		height: auto;
	}
	.column p img {
		height: 52.0833vw; /* golden-ratio */
	}
	.primary {
		width: 100%;
	}
	.primary h2 {
		font-size: 21px;
		line-height: 1.2;
		padding-bottom: 4px;
	}
	.column-topImg {
		/*background-image: url(../img/column_topImg2.png);*/
		background-size: cover;
		padding-top: 61.8367%;
	}
	.column-sns a,
	.column-sns a:hover {
		color: #999999;
	}
}
@media (max-width: 479px) {
	.wrapper {
		width: 90%;
	}
	.column p img {
		height: 56.25vw; /* golden-ratio */
	}
}
