body {
	font-size: 12px;
}
a {
	color: rgb(85, 85, 85);
}
a:active, a:hover {
	color: black;
}
.table-responsive {
  width: 76.5%;
  margin: auto;
}
.table-responsive  table {
margin-bottom: 80px;
}
.navbar {
	background-color: white;
}
.container-fluid{
	padding-left: 15px;
}
.navbar-brand {
	border: none;
}
.navbar-brand:hover {
	background-color: #eee;
}
.navbar .icon-newspaper {
	color: rgb(85, 85, 85);
}
/*.navbar h1.title {
	float: none;
	font-size: 18px;
	color: rgb(85, 85, 85);
	padding: 9px 15px 0;
	margin-left: -131px;
	font-weight: bold;
	text-align: center;
}*/
.mode_switch {
	display: inline-block;
	margin: 0 10px;
	font-size: 12px;
	line-height: 1em;
}
.mode_switch > a, .mode_switch > a:link {
	color: rgb(16, 101, 228) !important;
	text-decoration: underline;
	font-weight: normal;
}
.navbar-toggle {
	border-left: 1px solid rgb(85, 85, 85);
}
.navbar-toggle .icon-bar {
	background-color: rgb(85, 85, 85);
}
.navbar-header {
	width: 100%;
}
.icon-newspaper:before {
	padding-right: 0;
}
.sns_block {
	font-size: 14px;
}
.sns_block > a {
	display: inline-block;
	float: right;
	line-height: 1;
	padding: 16px 8px 17px 8px;
}
.sns_block > a:hover {
	text-decoration: none;
}
footer {
	background-color: white;

	border-top: 1px solid #e8e8e8;
	text-align: center;
	padding: 10px;
}
.about_data_link {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-bottom: 7px;
	font-size: 14px;
	cursor: pointer;
}
.navbar-collapse {
	text-align: center;
}
#fbcount, #ttcount {
	opacity: 0;
}

.navbar h1.title {
	float: none;
	font-size: 16px;
	color: rgb(85, 85, 85);
	padding: 9px 15px 0;
	margin-left: -131px;
	/*margin-left: -195px;*/
	font-weight: bold;
	text-align: center;
}
.date {
	display: block;
}
.publish_date,
.refix_date {
	font-size: 12px;
	font-weight: normal;
	color: #808080;
}
.refix_date > time {
	margin-left: 10px;
}




.abst {
	margin: 20px 30px 5px 30px;
}
.wrapper {
	text-align: center;
}
#switch_box {
	margin: 15px 0;
}
.switch {
	display: inline-block;
	margin: 3px;
	padding: 5px 15px;
	background-color: #aaa;
	border-radius: 2px;
	font-size: 14px;
	font-weight: normal;
	color: white;
	cursor: pointer;
	opacity: .6;
	-webkit-transition: 200ms;
    transition: 200ms;
}
.switch_check {
	display: none;
}
.switch:hover, .switch:active {
	text-decoration: none;
	opacity: 1;
}
.switch_0 {
	background-color: #0082ad;
}
.switch_1 {
	background-color: #c87911;
}
.switch_2 {
	background-color: #71920e;
}
.switch_3 {
	background-color: #ca5e5e;
}
.switch_4 {
	background-color: #7c5c9b;
}
.switch_5 {
	background-color: #3b9991;
}
.switch_6 {
	background-color: #5d71ab;
}
.switch_7 {
	background-color: #c45938;
}
.switch_check:checked + .switch {
	opacity: 1;
}

.th1 {
	text-align: center;
	background-color: #f8f8f8;
	border-bottom-width: 1px !important;
}
.th1_mng {
	width: 70px;
}
#th_label1 {
	width: 60px;
}
#th_label2 {
	width: 80px;
}
.wicon-unsorted {
	color: #ccc;
}
.wicon-sort-down, .wicon-sort-up {
}
.sortable {
	cursor: pointer;
	-webkit-transition: 200ms;
    transition: 200ms;
}
.sortable > span {
	margin-left: 5px;
}
.sortable:hover {
	background-color: #f8f8f8;
}
.sortable:hover > .wicon-unsorted {
	color: #777;

}
.table>thead>tr>th, .table>tbody>tr>td {
	padding: 4px;
	font-size: 12px;
	vertical-align: middle;
}
.table>thead>tr>th {
	text-align: center;
}
.data_row > td {
	border-top: none !important;
	border-bottom: none !important;
}
.hospital_name {
	width: 250px;
	text-align: center;
	vertical-align: middle;
}
.highlight_text {
	font-weight: bold;
	background-color: #FFFFBD;
}
.pref_name {
	width: 55px;
	text-align: center;
	vertical-align: middle;
}
.figure {
	text-align: left;
	position: relative;
	box-sizing: border-box;
}
.figure_value {
	position: absolute;
	z-index: 1;
	line-height: 22px;
	top: 50%;
	display: inline-block;
	margin-top: -11px;
}
.bar {
	/*position: absolute;
	left: 0;
	top: 50%;
	margin-top: -8px;*/
	margin-left: -4px;
	height: 16px;
	background-color: #f4e4cf;
}
.bar_sc {
	background-color: #cce6ef;
}
.bar_hv {
	background-color: #f4e4cf;
}
.bar_lc {
	background-color: #e3e9cf;
}
.bar_ec {
	background-color: #f4dfdf;
}
.bar_lb {
	background-color: #e5deeb;
}
.bar_bg {
	background-color: #d8ebe9;
}
.bar_cc {
	background-color: #dfe3ee;
}
.bar_nn {
	background-color: #f3ded7;
}
/*tabel css end*/

.chapter3_chart .btn-zoom-in:before, .chapter3_chart .btn-zoom-out:before {
  content: none;
}

@media (max-width: 768px) {
	.slideTitle {
		width: 350px;
	}
	.navbar h1.title {
		text-align: left;
		margin-left: -191px;
	}
	.publish_date > time {
	margin-left: 0px;
	}
}
