@charset utf-8;

/*** base ***/
*{
	margin:0;
	padding:0;
}

html{
	margin:0;
}
ul{
	margin:0;
	padding:0;
	display:inline;
}
li{
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
}
img{
	border:none;
	max-width: 100%;
	height:auto;
	vertical-align: top;
}

.pc{
	display:none;
}
.sp{
	display:block;
	margin
}

/*** ddWrapper ***/
#ddWrapper{
	position:relative;
	min-width:320px;
	background-color:#092f5f;
	/*padding-bottom:20px;*/
}
#ddWrapper h2{
	margin-left:0;
	margin-right:0;
	margin-top: 30px;
	margin-bottom: 30px;
}

/*** ddTitleArea ***/
#ddTitleArea{
	position:relative;
	border-top:#092f5f solid 1px;
	background-color:#FFF;
}
#ddTitleArea h2{
	margin:0;
	padding:0;
}
#ddTitleArea img{
	width:50%;
	max-width:320px;
	min-width:160px;
	height:auto;
}

/*** leadArea ***/
#leadArea{
	position:relative;
	background-color:#092f5f;
}
#leadArea h2{
	margin:0;
	padding:0;
}
#leadTitle{
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
}
#leadMapArea{
	display:block;
	position:relative;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
	text-align:center;
	margin:0 auto;
}
#leadMap1{
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
}
#leadMap2{
	position:absolute;
	top:0; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
	opacity:0;
}
#leadTxt{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	font-size:13px;
	color:#FFF;
	line-height:1.7;
	text-align:left;
	margin-top:-18px;
}

/*** s1Area ***/
#s1Area{
	position:relative;
	background-color:#092f5f;
}

/*** s1Lead ***/
#s1LeadArea{
	position:relative;
	background-color:#092f5f;
	margin-top:20px;
}
#s1LeadArea h2{
	margin:0;
	padding:0;

	position:relative;
	margin:0 auto;
	display:inline-block;
	width:94%;
	margin:0 3%;
	min-width:296px;
	max-width:830px;
	overflow:hidden;
	background-color:#092f5f;
}
.s1Title{
	width:100%;
	max-width:678px;
	min-width:320px;
	margin:0 auto;
	height:auto;
}
#s1MapArea{
	display:block;
	position:relative;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
	text-align:center;
	margin:0 auto;
	opacity:0;
}
#s1Map{
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
}
#s1Lead{
	position:absolute;
	top:0; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
	opacity:0;
}
#s1GraphMask{
	position:absolute;
	top:0; left:-100%;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:640px;
	margin-left:0px;
	overflow:hidden;
}
#s1Graph{
	position:absolute;
	top:0; left:100%;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
}
#s1Txt{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	font-size:13px;
	color:#FFF;
	line-height:1.7;
	text-align:left;
	margin-top:-20%;
}
#s1TxtSrc{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	text-align:right;
}
#s1TxtSrc a{
	font-size:12px;
	color:#84a0bd;
	line-height:2.1;
	text-decoration:underline;
}

/*** s1Topic1 ***/
#s1Topic1{
	width:100%;
	position:relative;
	margin-top:38px;
}
.topicTitle{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:828px;
	padding:0 20px;
	font-size:13px;
	color:#FFF;
	line-height:1.7;
	text-align:center;
	box-sizing:border-box;
	margin-bottom:20px;
}
.topicTitle img{
	border-top:#FFF solid 1px;
	border-bottom:#FFF solid 1px;
	box-sizing:border-box;
}
.topicSubTitle{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:640px;
	padding:0 20px;
	font-size:13px;
	color:#FFF;
	line-height:1.7;
	text-align:center;
}
.InfogImgArea{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:640px;
}
.InfogImgArea #s1t1info2004{
	opacity:0;
}
.InfogImgArea #s1t1info2014Mask{
	position:absolute;
	top:100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:100%;
	overflow:hidden;
}
.InfogImgArea #s1t1info2014{
	position:absolute;
	top:-100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
}
#s1t1Detail{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	text-align:right;
}
#s1t1Detail a{
	font-size:12px;
	color:#84a0bd;
	line-height:2.1;
	text-decoration:underline;
}
#s1t1Txt{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	font-size:13px;
	color:#FFF;
	line-height:1.7;
	text-align:left;
	margin-bottom:25px;
}
/*** s1t1GraphArea ***/
#s1t1GraphArea{
	position:relative;
}

#s1t1Graph{
	position:relative;
	width:100%;
	margin-bottom:0px;
	opacity:0;
}
.g1select {
	font-size:16px;
	color:#FFF;
	padding:20px 0 0;
	background-color:#092f5f;
}
.g1select a{
	font-size:16px;
	color:#FFF;
	padding:20px;
	cursor:pointer;
	font-weight:normal;
}
.g1select a.selected{
	font-size:16px;
	color:#fbd12a;
	padding:20px;
	font-weight:bold;
}

ul.Graph{
	display:block;
	width:100%;
	min-width:320px;
	max-width:560px;
	text-align:left;
	padding:0 20px;
	box-sizing:border-box;
	margin:0 auto;
}
ul .gBar{
	overflow:hidden;
	display:block;
	width:100%;
	min-width:280px;
	max-width:560px;
}
.Graph .name{
	font-size:10px;
	color:#FFF;
	opacity:0.5;
	margin-top:12px;
	margin-left:6px;
	margin-bottom:6px;
}

.Graph .bar{
	position:relative;
	background-color:#092f5f;
	width:100%;
	height:auto;
}

.Graph .flag{
	position:absolute;
	top:0; left:0;
	height:100%;
	width:auto;
}

.Graph .plane{
/*	margin-left:-75%;
	margin-right:75%;*/
	position:relative;
	top:0;left:0;
}
.Graph .value{
	position:absolute;
	top:50%; left:30%;
	font-size:16px;
	color:#fbd12a;
	font-weight:bold;
	margin-top:-10px;
}

.arrow{
	width:21px;
	height:auto;
	vertical-align:middle;
}




/*** s1Topic2 ***/
#s1Topic2{
	clear:both;
	position:relative;
	margin-top:38px;
}

.InfogImgArea #s1t2info2004{
	opacity:0;
}
.InfogImgArea #s1t2info2014Mask{
	position:absolute;
	top:100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:100%;
	overflow:hidden;
}
.InfogImgArea #s1t2info2014{
	position:absolute;
	top:-100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
}

#s1t2Detail{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	text-align:right;
}
#s1t2Detail a{
	font-size:12px;
	color:#84a0bd;
	line-height:2.1;
	text-decoration:underline;
}
#s1t2Txt{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	font-size:13px;
	color:#FFF;
	line-height:1.7;
	text-align:left;
	margin-bottom:25px;
}
/*** s1t2GraphArea ***/
#s1t2GraphArea{
	position:relative;
}

#s1t2Graph{
	position:relative;
	width:100%;
	opacity:0;
}

/*** s1Topic3 ***/
#s1Topic3{
	clear:both;
	position:relative;
	margin-top:38px;
}
.InfogImgArea #s1t3info12004{
	opacity:0;
}
.InfogImgArea #s1t3info12014Mask{
	position:absolute;
	top:100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:100%;
	overflow:hidden;
}

.InfogImgArea #s1t3info12014{
	position:absolute;
	top:-100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
}
.InfogImgArea #s1t3info22010{
	opacity:0;
}
.InfogImgArea #s1t3info22014Mask{
	position:absolute;
	top:100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:100%;
	overflow:hidden;
}
.InfogImgArea #s1t3info22014{
	position:absolute;
	top:-100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
}
#s1t3rDetail,
#s1t3Detail{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	text-align:right;
}
#s1t3rDetail a,
#s1t3Detail a{
	font-size:12px;
	color:#84a0bd;
	line-height:2.1;
	text-decoration:underline;
}
#s1t3Txt{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	font-size:13px;
	color:#FFF;
	line-height:1.7;
	text-align:left;
}
/*** s1t3GraphArea ***/
#s1t3GraphArea{
	position:relative;
}

#s1t3Graph{
	position:relative;
	width:100%;
	opacity:0;
}



/*** s2Area ***/
#s2Area{
	clear:both;
	position:relative;
	background-color:#092f5f;
	padding-top:38px;
}
#s2Area img{
	margin: 0 auto;
}
/*** s2Lead ***/
#s2LeadArea{
	position:relative;
	background-color:#092f5f;
}
#s2LeadArea h2{
	margin:0;
	padding:0;

	position:relative;
	margin:0 auto;
	display:inline-block;
	width:94%;
	margin:0 3%;
	min-width:296px;
	max-width:830px;
	overflow:hidden;

	z-index:10;
}
.s2Title{
	width:100%;
	max-width:678px;
	min-width:320px;
	margin:0 auto;
	height:auto;
}
#s2MapArea{
	display:block;
	position:relative;
	width:100%;
	max-width:830px;
	min-width:320px;
	height:auto;
	text-align:center;
	margin:0 auto;
	opacity:0;
}
.s2Map{
	position:absolute;
	left:0;
	width:100%;
	max-width:830px;
	min-width:320px;
	height:auto;
	margin-top:-4%;
}
#s2Lead{
	position:relative;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
}


#s2GraphMask{
	position:relative;
	top:0; left:-100%;
	width:100%;
	max-width:830px;
	min-width:320px;
	height:auto;
	margin-left:0px;
	overflow:hidden;
}
#s2Graph{
	position:relative;
	top:0; left:100%;
	width:100%;
	max-width:630px;
	min-width:320px;
	height:auto;
}


/*#s2Graph{
	position:relative;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
	opacity:0.5;
}*/
#s2Txt{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	font-size:13px;
	color:#FFF;
	line-height:1.7;
	text-align:left;
}
#s2TxtSrc{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	text-align:right;
}
#s2TxtSrc a{
	font-size:12px;
	color:#84a0bd;
	line-height:2.1;
	text-decoration:underline;
}

/*** s2Topic1 ***/
#s2Topic1{
	position:relative;
	margin-top:38px;
}


.InfogImgArea #s2t1info12005{
	opacity:0;
}
.InfogImgArea #s2t1info12013Mask{
	position:absolute;
	top:100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:100%;
	overflow:hidden;
}

.InfogImgArea #s2t1info12013{
	position:absolute;
	top:-100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
}


.InfogImgArea #s2t1info22005{
	opacity:0;
}
.InfogImgArea #s2t1info22013Mask{
	position:absolute;
	top:100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:100%;
	overflow:hidden;
}
.InfogImgArea #s2t1info22013{
	position:absolute;
	top:-100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
}

#s2t1InfogArea .s2{
	margin-top:0px;
}
#s2t1info3{
	width:100%;
	max-width:420px;
	opacity:0;
}

#s2t1Detail{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	text-align:right;
}
#s2t1Detail a{
	font-size:12px;
	color:#84a0bd;
	line-height:2.1;
	text-decoration:underline;
}
#s2t1Txt{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	font-size:13px;
	color:#FFF;
	line-height:1.7;
	text-align:left;
}

/*** s2Topic2 ***/
#s2Topic2{
	position:relative;
	margin-top:38px;
}
.InfogImgArea #s2t2info12005{
	opacity:0;
}
.InfogImgArea #s2t2info12013Mask{
	position:absolute;
	top:100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:100%;
	overflow:hidden;
}
.InfogImgArea #s2t2info12013{
	position:absolute;
	top:-100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
}

.InfogImgArea #s2t2info22005{
	opacity:0;
}
.InfogImgArea #s2t2info22013Mask{
	position:absolute;
	top:100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:100%;
	overflow:hidden;
}
.InfogImgArea #s2t2info22013{
	position:absolute;
	top:-100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
}

#s2t2InfogArea .s2{
	margin-top:0px;
}
#s2t2info3{
	width:100%;
	max-width:420px;
	opacity:0;
}


#s2t2Detail{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	text-align:right;
}
#s2t2Detail a{
	font-size:12px;
	color:#84a0bd;
	line-height:2.1;
	text-decoration:underline;
}
#s2t2Txt{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	font-size:13px;
	color:#FFF;
	line-height:1.7;
	text-align:left;
}

/*** s2Topic3 ***/
#s2Topic3{
	position:relative;
	margin-top:38px;
}
.InfogImgArea .s2t3info3{
	position:absolute;
	top:0; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
	opacity:0.5;
}
#s2t3Detail{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	text-align:right;
}
#s2t3Detail a{
	font-size:12px;
	color:#84a0bd;
	line-height:2.1;
	text-decoration:underline;
}
#s2t3Txt{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:830px;
	padding:0 20px;
	font-size:13px;
	color:#FFF;
	line-height:1.7;
	text-align:left;
}
#s2t3Circle{
	opacity:0;
}
.InfogImgArea #s2t3infoOvSpMask{
	position:absolute;
	top:100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:100%;
	overflow:hidden;
}
#s2t3infoOvSp{
	position:absolute;
	top:-100%; left:0;
	width:100%;
	max-width:640px;
	min-width:320px;
	height:auto;
}
.InfogImgArea #s2t3infoOvPcMask{
	position:absolute;
	top:100%; left:0;
	width:100%;
	max-width:728px;
	min-width:320px;
	height:100%;
	overflow:hidden;
}
#s2t3infoOvPc{
	position:absolute;
	top:-100%; left:0;
	width:100%;
	max-width:728px;
	min-width:320px;
	height:auto;
}


/*** paperArea ***/
#paperArea{
	background-color:#FFF;
	padding-bottom:40px;
}

#paperArea h2{
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width:828px;
	padding:0 20px;
	font-size:13px;
	color:#FFF;
	line-height:1.7;
	text-align:center;
	box-sizing:border-box;
	margin-top:42px;
	padding-top:42px;
	margin-bottom:25px;
}
#paperArea h2 img{
	border-top:#092f5f solid 1px;
	border-bottom:#092f5f solid 1px;
	box-sizing:border-box;
}
#paperArea p{
	display:block;
	margin:0 auto;
	max-width:810px;
	color:#010101;
	font-size:13px;
	line-height:1.7;
	padding:0 20px;
	text-align:left;
}
#paperArea .paperImg{
	padding:10px 40px;
}
#paperArea .pdf{
	padding:0 20px;
	text-align:right;
}
#paperArea .pdf a{
	color:#a3a3a3;
	font-size:13px;
	line-height:1.7;
}
/*** archiveArea ***/
#archiveAreaPc,
#archiveAreaSp{
	clear:both;
	margin-top:30px;
	color:#FFF;
}
#archiveAreaPc dt,
#archiveAreaSp dt{
	font-weight:normal;
	margin-bottom:5px;
}
#archiveAreaPc dd,
#archiveAreaSp dd{
	font-weight:bold;
	margin-bottom:15px;
}
.blinePc{
	margin-top:40px !important;
	margin:0 auto;
}
#archiveAreaPc{
	text-align:left !important;
	width:360px;
	margin:0 auto !important;
	margin-top:30px !important;
	font-size:0.8em;
}
#archiveAreaSp{
	text-align:left !important;
	width:310px;
	margin:0 auto !important;
	margin-top:30px !important;
	font-size:0.8em;
}


/*** creditArea ***/
#creditAreaPc,
#creditAreaSp{
	margin-top:30px;
	color:#FFF;
}
#creditAreaPc dt,
#creditAreaSp dt{
	font-weight:normal;
	margin-bottom:5px;
}
#creditAreaPc dd,
#creditAreaSp dd{
	font-weight:normal;
	margin-bottom:15px;
}
.blinePc{
	margin-top:40px !important;
	margin:0 auto;
}
#creditAreaPc{
	text-align:left !important;
	width:360px;
	margin:0 auto !important;
	margin-top:30px !important;
	font-size:0.8em;
}
.blineSp{
	margin-top:40px !important;
	margin:0 auto;
	max-width:90% !important;
}
#creditAreaSp{
	text-align:left !important;
	width:310px;
	margin:0 auto !important;
	margin-top:30px !important;
	font-size:0.8em;
}

/*** downloadArea ***/
#downloadArea {
	background-color: #f8f8f8;
	padding-bottom: 40px;
	border-top: 1px solid #e8e8e8;
	padding-top: 40px;
}
#downloadArea .dataDownload {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto 0;
  text-align: center;
  line-height: 1;
  min-width: 320px;
  max-width: 830px;
  padding: 0 20px;
}
#downloadArea .dataDownload a {
  color: #a3a3a3;
  font-size: 12px;
  line-height: 2.1;
  border: 2px solid #e8e8e8;
  text-decoration: none;
  padding: 10px 15px;
  /*background-color: #092f5f;*/
}

/*** content-prev ***/
.content-prev {
	border-top: 1px solid #e8e8e8;
	background-color: #f8f8f8;
	margin: 0 auto;
	text-align: center;
}
.content-prev p.btn-prev {
	margin: 0 auto;
}
.content-prev a {
	color: #a3a3a3;
	padding: 16px;
	font-size: 14px;
	display: inline-block;
	line-height: 1;
	text-decoration: none;
}

/*** others ***/

.modal-img{
	width:100%;
}

.infoHolder{
	display:inline-block;
	width:auto;
}
.infoHolder2{
	display:inline-block;
	width:auto;
}

/************************************/
/*■PCサイズ
/************************************/
@media screen and (min-width: 730px) {

	.pc{
		display:block;
	}
	.sp{
		display:none;
	}
	#s1Txt{
		margin-top:-190px;
	}

	/*** s1Lead ***/
	#s1LeadArea{
		margin-top:50px;
	}

	#s1Topic1{
		clear:both;
		max-width:830px;
		margin:0 auto;
	}
	#s1t1InfogArea{
		float:left;
		width:360px;
	}
	#s1t1Txt{
		margin-bottom:0px;
	}
	#s1t1GraphArea{
		float:left;
		width:360px;
		padding-left:10px;
	}
	#s1Topic2{
		clear:both;
		max-width:830px;
		margin:0 auto;
	}
	#s1t2InfogArea{
		float:left;
		width:360px;
	}
	#s1t2Txt{
		margin-bottom:0px;
	}
	#s1t2GraphArea{
		float:left;
		width:360px;
		padding-left:10px;
	}

	#s1Topic3{
		clear:both;
		max-width:830px;
		margin:0 auto;
	}
	#s1t3InfogArea{
		float:left;
		width:360px;
	}
	#s1t3GraphArea{
		float:left;
		width:360px;
		padding-left:10px;
	}

	#s2Topic1{
		clear:both;
		max-width:830px;
		margin:0 auto;
	}
	#s2t1InfogArea .InfogImgArea{
		float:left;
		width:360px;
	}

	#s2t1InfogArea .s2{
		margin-top:74px;
	}

	#s2Topic2{
		clear:both;
		max-width:830px;
		margin:0 auto;
		margin-top:76px;
	}
	#s2t2InfogArea .InfogImgArea{
		float:left;
		width:360px;
	}
	#s2t2InfogArea .s2{
		margin-top:79px;
	}

	/*** paperArea ***/
	#paperArea h2{
		font-size:26px;
	}
	#paperArea p{
		font-size:16px;
	}
	#paperArea .paperImg{
		max-width:342px;
		height:auto;
	}
}

/************************************/
/*■PCサイズ
/************************************/
@media screen and (min-width: 830px) {

	.infoHolder{
		display:inline-block;
		width:770px;
	}
	.infoHolder2{
		display:inline-block;
		width:730px;
	}

	#s1t1InfogArea{
		float:left;
		width:360px;
	}
	#s1t1GraphArea{
		float:left;
		width:360px;
		left:40px;
	}

	#s1t2InfogArea{
		float:left;
		width:360px;
	}
	#s1t2GraphArea{
		float:left;
		width:360px;
		left:40px;
	}

	#s1t3InfogArea{
		float:left;
		width:360px;
	}
	#s1t3GraphArea{
		float:left;
		width:360px;
		left:40px;
	}

	#s2t1InfogArea .InfogImgArea{
		float:left;
		width:360px;
	}

	#s2t1InfogArea .s2{
		margin-top:74px;
	}

	#s2Topic2{
		clear:both;
		max-width:770px;
		margin:0 auto;
	}
	#s2t2InfogArea .InfogImgArea{
		float:left;
		width:360px;
	}
	#s2t2InfogArea .s2{
		margin-top:79px;
	}

}
