@charset utf-8;

.navbar {
	position: static;
}

.cover-visual2 {
	margin: 0 auto 0;
}

.content-text h3 {
	text-align: center;
}

.content-text .graph-box980 .graph-caption {
	margin: 24px 0;
	font-size: 12px;
}

/* bubbleChart
-------------------------------------------------- */
.graph-area {
	background-color: #ffffff;
	box-sizing: border-box;
}
.slider-year {
	fill: #ccc;
	font-size: 130px;
	font-weight: bold;
	font-family: Arial;
	line-height: 1;
	text-align: right;
	margin: -222px 35px 0px 0;
	z-index: -11;
	opacity: 0.5;
	pointer-events: none;
}

/* bubble-chart */
#bubbleChart {
	/*z-index: 2;*/
	width:  100%;
	height: 100%;
	/*border: 1px*/
 	/*solid #fff;*/
}
@media (max-width: 980px) {
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
	.slider-year {
		font-size:  65px;
		margin: -182px 45px 0px 0;
	}
}
@media (max-width: 320px) {
	.slider-year {
		font-size: 44px;
		margin: -154px 52px 0px 0;
	}
}

/* axis */
.axis .domain {
	fill: none;
	stroke: none;
}
.axis .minor {
	stroke-opacity: .1;
	/*stroke-dasharray: 2, 2;*/
}
.axis path,
.axis line {
	fill: none;
	stroke: #333;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

/* bubbule-elements */
circle {
	stroke: none;	
}
circle:hover {
	stroke: #333333;
	stroke-width: 4px;
	stroke-opacity: .2; 
}
/* circle-color */
.mark01,
.mark02,
.mark03,
.mark04,
.mark05,
.mark06,
.mark07,
.mark08 {
	/*stroke: none;*/
}
.mark01 { fill: #dc0014; }
.mark02 { fill: #cccccc; }
.mark03 { fill: #cccccc; }
.mark04 { fill: #cccccc; }
.mark05 { fill: #cccccc; }
.mark06 { fill: #cccccc; }
.mark07 { fill: #cccccc; }
.mark08 { fill: #cccccc; }

.bubbleText {
	cursor: default;
	paint-order: stroke;
	stroke-linejoin: round;
	stroke-width: 2px;
	stroke: rgba(0, 0, 0, .1);
	font-size: 9px;
	fill: #ffffff;
	/*text-shadow: 0 0 10px rgba(0, 0, 0, 0);*/
	pointer-events: none;
}
#sharp {
	/*fill: #ffffff;*/
	paint-order: stroke;
	stroke-linejoin: round;
	stroke: #dc0014;
	stroke-width: 3px;
	stroke-opacity: .8;
}

/* multiChart, stackChart
-------------------------------------------------- */

#graph-area,
#stackline-area {
	width: 100%;
	height: 100%;
}

@media (max-width: 480px) {
	#graph-area #sale-charts .tick:nth-child(even),
	#stackline-area #stack-charts .tick:nth-child(even) {
		visibility: hidden;
	}
}


/* tooltip
-------------------------------------------------- */
.bubbleTooltip .amount_title { width: 72px; }
.bubbleTooltip .amount_value { width: 80px; }

.multiTooltip .amount_title { width: 72px; }
.multiTooltip .amount_value { width: 80px; }

.stackTooltip .amount_title { width: 72px; }
.stackTooltip .amount_value { width: 80px; }

.bubbleTooltip,
.multiTooltip,
.stackTooltip {
	width: 186px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	visibility: hidden;
	padding: 0;
	color: #222222;
	font-size: 11px;
	border: 0;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 3px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 3px;
	background-color: #ffffff;
	opacity: 1;
	box-sizing: border-box;
}
.bubbleTooltip .tooltip_container,
.multiTooltip .tooltip_container,
.stackTooltip .tooltip_container {
	padding: 16px;
	background-color: #ffffff;
	text-align: center;
}
.bubbleTooltip .tooltip_container:after,
.multiTooltip .tooltip_container:after,
.stackTooltip .tooltip_container:after {
	content: "";
	-webkit-box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 3px;
	position: absolute;
	bottom: -5px;
	height: 10px;
	left: 50%;
	margin-left: -5px;
	width: 10px;
	-webkit-transform: rotate(45deg);
	z-index: -1;
	right: auto;
	top: auto;
	margin-top: auto;
	background-color: rgb(255, 255, 255);
}
.bubbleTooltip h4,
.multiTooltip h4,
.stackTooltip h4 {
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 8px;
	padding: 0 0 8px;
	border-bottom: 1px solid #e8e8e8;
}
.bubbleTooltip .amount_title,
.multiTooltip .amount_title,
.stackTooltip .amount_title {
	display: inline-block;
	font-size: 10px;
	text-align: left;
	line-height: 1;
	/*font-weight: bold;*/
	margin: 0;
}
.bubbleTooltip .amount_value,
.multiTooltip .amount_value,
.stackTooltip .amount_value {
	display: inline-block;
	font-size: 14px;
	text-align: right;
	line-height: 1;
	font-weight: bold;
	margin: 0;
}
.bubbleTooltip .amount_value span,
.multiTooltip .amount_value span,
.stackTooltip .amount_value span {
	font-size: 10px;
	padding-left: 4px;
	font-weight: normal;
}


