/* 共通部分
-------------------------------------------------- */
.content-text h3 {
	text-align: center;
	letter-spacing: 0.2em;
	color: #333;
	font-weight: normal;
	font-size: 24px;
	margin: 80px auto 50px;
}

.content-text .graph-caption {
	margin: 15px 0;
	font-size: 12px;
	border-top: 1px dashed #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	width: 100%;
}

.content-text .number {
	margin-right: 10px;
	font-family: sans-serif;
}

.content-text {
	margin-top: 50px;

}

.content-text p {
	padding-bottom: 50px;
	border-bottom: 1px dashed #ccc;
}

.graph-area {
	background-color: #ffffff;
	border: 1px solid #e8e8e8;
	box-sizing: border-box;
}

@media (max-width: 980px) {
	.content-text  {
		margin: 50px auto 0;
	}

	.graph-area {
		background-color: #ffffff;
		border: none;
		border-top: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
		box-sizing: border-box;
	}
}

@media (max-width: 768px) {
	.part-fixed {
	  background-attachment: scroll;
	}

}

@media (max-width: 568px) {
	.content-text h3 {
		font-size: 16px;
	}
	.content-text p {
		font-size: 14px;
	}

	.graph-area {
		height: 390px;
	}
}

@media (max-width: 320px) {

	h2 {
		width: 80%;
	}

	.s01 .content-text h3 {
		width: 80%;
	}

	.s02 .content-text h3 {
		width: 70%;
	}

	.s03 .content-text h3 {
		width: 60%;
	}

	.s04 .content-text h3 {
		width: 90%;
	}

}

/* img
-------------------------------------------------- */

.image-box640 img {
	width: 100%;
}

@media (max-width: 640px) {
	.image-box640 {
		width: 100%;
	}
}

.image-credit{
	text-align: left;
}

p.image-caption {
	border: none;
	border-bottom: 1px solid #e8e8e8;
	text-align: left;
}

/* section
-------------------------------------------------- */

.section{
	margin-bottom: 170px;
}

.s01 {
	margin-top: 130px;
}

.s02 .content-text .graph-box980 .graph-caption {
	margin:15px 0 0 0;
	border-bottom: none;
}

.s01 ul.graph-legend li:before{
	display: none;
}

.s04 h3 {
	margin: 50px auto 50px;
}

.s04 .content-text p {
	border: none;

}

@media (max-width: 980px) {
}
@media (max-width: 768px) {
}
@media (max-width: 568px) {
	.section {
		margin-bottom: 0;
	}
	.s01 {
		margin-top: 0;
	}

}
@media (max-width: 320px) {
}

/* 01 btn-bubble-legend
-------------------------------------------------- */


.graph-btn-legend {
	margin-bottom: 10px;
}

/*.graph-btn-legend:after {
	content : '';
	display : block;
	clear : both;
	height:0; 
}*/

.graph-box980 .btn01 {
	display: inline-block;
	width: 60%;
	margin-bottom: -146px;
}

.graph-box980 .btn-group div {
	width: 100px;
	text-align: center;
}

.graph-box980 .btn-group label {
	margin-bottom: 0;
}


.graph-box980 .btn01 div {
	width: 80px;
}


.bubble-legend {
	margin: -201px 0 0 135px;
	opacity: 0.5;
	pointer-events: none;

}

.bubble-legend img {
	width: 215px;
}

@media (max-width: 980px) {
	.graph-btn-legend {
		width: 90%;
		margin: 0 auto 10px;
	}

	.graph-box980 .btn01 {
		margin: 0 0 -151px 0;
		text-align: left
	}

	.graph-box980 .btn01 label {
		margin-bottom: 5px;
	}

	.graph-box980 .btn01 div {
		width: 70px;
	}
}

@media (max-width: 768px) {
	.graph-box980 .btn01 {
		margin: 0 0 -114px 0;
		text-align: left
	}
}

@media (max-width: 568px) {

	.graph-box980 .btn01 {
		text-align: left;
		margin: 0 0 -102px 0;
	}

	.graph-box980 .btn01 div {
		width: 55px;
		padding: 12px 5px 12px;
	}

	.bubble-legend {
		margin: -201px 0 0 135px;
		opacity: 0.5;
	}

	.bubble-legend img {
		width: 215px;
	}

}

@media (max-width: 480px) {

	.bubble-legend  {
		margin: -130px 0 0 64px;
	}

	.bubble-legend img {
		width: 129px;
	}
}




/* btn
-------------------------------------------------- */

.btn-group.barline-area.btn02,
.btn-group.stackline-area.btn03{
	display: block;
	text-align: center;
}

.graph-box980 .btn02 div,
.graph-box980 .btn03 div {
	width: 160px;
} 


@media (max-width: 568px) {
	.btn-group.barline-area.btn02,
	.btn-group.stackline-area.btn03{
		width: 95%;
		margin: 0 auto 10px;
	}

	.graph-box980 .btn01 div {
		width: 55px;
		padding: 12px 5px 12px;
	}

	.graph-box980 .btn02 div,
	.graph-box980 .btn03 div {
		padding: 12px 5px 12px;
		width: 100%;
	}

	.graph-box980 .btn02 label,
	.graph-box980 .btn03 label {
		width: 48%;
	}

}

/* legend
-------------------------------------------------- */

.s01 ul.graph-legend .legend01:before {
	content: "";
	position: absolute;
	top: 50%;
	width: 12px;
	height: 12px;
	left: 0px;
	margin-top: -6px;
	display: inline;
	background-color: #dc0014;
}

.s01 ul.graph-legend li:before{
	content: "";
	position: absolute;
	top: 50%;
	width: 12px;
	height: 12px;
	left: 0px;
	margin-top: -6px;
	display: inline;
	background-color: #cccccc;
}


.chart2 .legend01:before {
	background-color: #eab2bb;
}

.chart2 .legend02:before {
	background-color: #db6170;
}

.chart2 .legend03:before {
	height: 2px;
	background-color: #dc0014;
	margin-top: -2px;
}

.chart3 .legend01:before {
	background-color: #95c9c9;
}

.chart3 .legend02:before {
	background-color: #f2b1c9;
}

.chart3 .legend03:before {
	height: 2px;
	background-color: #62a0d3;
	margin-top: -2px;
}

/* tab
-------------------------------------------------- */

.tab-table {
	max-width: 100%;
	background-color: #f4f4f4;
	margin: 15px auto 0;
	padding: 30px 0 50px;
	text-align: left;
}

.tab-table h4 {
	text-align: left;
	border-left: 4px solid #d80041;
	padding-left: 4px;
	font-size: 16px;
	font-weight: bold;
	display: block;
	width: 980px;
	margin: 20px auto;
}

.nav-tabs {
	max-width: 980px;
	margin: 20px auto 0;
}

.nav-tabs li {
	width: 33.3333%;
	text-align: center;
	font-weight: bold;
}

.nav-tabs li a {
	margin-right: 0;
	padding: 10px 0;
}

@media (max-width: 980px){
	.nav-tabs {
		width: 90%;
	}
}

@media (max-width: 768px) {
	.tab-table h4 {
		display: block;
		text-align: left;
		width: 90%;
	}

}

/* content-table
-------------------------------------------------- */
.tab-content {
  width: 980px;
  margin: 0 auto;
  border-bottom: 1px solid #cccccc;
}

.content-table {
	width: 640px;
	margin: 0 auto;
}

.content-table table{
	width: 100%;
	/* background-color: #eee; */
	border-collapse: separate;
	border-spacing: 0 30px;
	padding: 15px 0;

}

.content-table table th{
	width: 13%;
	border-right: 2px solid #333;
	text-align: right;
	vertical-align: top;
	text-align: left;
}

.content-table table td{
	width: 89%;
	text-align: left;
	padding-left: 13px;
}

.content-table ul{
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: square;
}

.content-table li {
	margin-bottom: 10px;
}

.content-table li:last-child {
	margin-bottom: 0;
}

@media (max-width: 980px){
	.tab-content {
		width: 90%;
	}
	.content-table {
		width: 90%;
		margin: 0 auto;
	}
}

@media (max-width: 768px) {

	.content-table table {
		padding: 0 ;
	}

	.content-table table th {
		padding-right: 0px;
		text-align: left;
	}

	.content-table table td {
		padding-left: 0px;
	}
}

@media (max-width: 568px) {

	.content-table table th{
		width: 25%;

	}

	.content-table table td{
		width: 75%;
	}
}

/* content-credit
-------------------------------------------------- */
.content-credit {
	font-size: 12px;
	line-height: 1.4;
	margin: 80px auto 0;
	text-align: left;
}
.content-credit dl {
	width: 640px;
	margin: 16px auto 0;
	text-align: left;
}
.content-credit dl:after {
	content: "";
	display: block;
	clear: both;
}
.content-credit dl dt {
	float: left;
	clear: both;
	width: 76px;
	font-weight: bold;
}
.content-credit dl dd {
	margin: 0 0 4px 7.4em;
}
.content-credit dl.data-source dd {
	margin: 0 0 4px 8em;
	text-indent: -1em;
}
.content-credit dl.data-source dd:before {
	content: "・";
}
.content-credit dl dd {
	/*display: block;*/
	font-weight: normal;
}

@media (max-width: 980px){
	.content-credit {
		margin: 64px auto;
	}
}

@media (max-width: 768px) {

	.content-credit dl {
		width: 83.3333%;
	}
	.content-credit dl {
		margin: 24px auto 0;
	}
}

@media (max-width: 568px) {

	.content-credit dl,
	.content-prev {
		width: 90%;
	}
	.content-credit dl dt {
		float: none;
		width: auto;
		margin-bottom: 4px;
	}
	.content-credit dl dd {
		margin: 0 0 2px 0;
	}
	.content-credit dl.data-source dd {
		text-indent: -1em;
		margin: 0 0 2px 1em;
	}
}

/* slider
-------------------------------------------------- */
.slider {
	display: block;
}
.slider.slider-horizontal {
	width: 80%;
	max-width: 640px;
	height: 24px;
	margin: 16px auto 0;
	border-radius: 2px;
}
@media (max-width: 768px) {
	.graph-box980 .slider.slider-horizontal,
	.graph-boxFull .slider.slider-horizontal {
		width: 66.6666%;
		/*width: 83.3333%;*/
	}
}
@media (max-width: 568px) {
	.graph-box980 .slider.slider-horizontal,
	.graph-boxFull .slider.slider-horizontal {
		/*width: 80%;*/
	}
}
.slider.slider-horizontal .slider-track {
	height: 8px;
	margin-top: -4px;
}
.slider-track,
.slider-selection,
.slider-track-low,
.slider-track-high {
	border-radius: 2px;
}
.slider-track {
	background-color: #f8f8f8;
	background-image: none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) inset;
}
.slider-handle {
	width: 24px;
	height: 24px;
	border: 1px solid #e8e8e8;
	background-color: #ffffff;
	background-image: none;
}
.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
	margin-left: -12px;
	margin-top: -8px;
}
.slider-selection {
	background: #bbbbbb;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.15) inset;
}
.tooltip {
	z-index: 1040;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #666666;
}
.slider .tooltip.top {
	margin-top: -45px;
}
.tooltip-inner {
	background-color: #666666;
	padding: 4px 16px;
	border-radius: 2px;
}
@media (max-width: 768px) {
	.slider.slider-horizontal {
		margin: 24px auto 0;
	}
	.slider.slider-horizontal .slider-tick,
	.slider.slider-horizontal .slider-handle {
		margin-left: -16px;
		margin-top: -12px;
	}
	.slider-handle {
		width: 32px;
		height: 32px;
	}
	.slider .tooltip.top {
		margin-top: -42px;
	}

}


/* connection
-------------------------------------------------- */

.connection {
	margin: 60px auto 0px;
	width: 100%;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 20px;
}

.connection h5 {
	font-weight: bold;
	margin: -27px auto 22px;
	background-color: #ffffff;
	width: 140px;
	text-align: center;
}

.connection p {
	text-align: center;
}

@media (max-width: 768px) {
	.connection {
		width: 90%;
		text-align: left;
	}
}



.content-prev {
	margin: 0 auto;
	border: none;
}
