@charset utf-8;

/* body
-------------------------------------------------- */
body {
	font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}
a {
	color: #333333;
}
a,
button {
	-webkit-tap-highlight-color: rgba(204,204,204,.5);
}
*:focus {
	outline: none !important;
}
/*[class^="icon-"], [class*=" icon-"] {
	background-image: none;
}*/

/* navbar
-------------------------------------------------- */
.navbar {
	border: 0;
	border-radius: 0px;
	background-color: #ffffff;
	margin-bottom: 0;
	min-height: 48px;
}
.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
	min-height: 48px;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
	margin: 0;
}
.navbar-header {
	float: none;
}
.navbar-collapse {
	border-top: 1px solid #e8e8e8;
	padding: 0;
}
.navbar-nav {
	line-height: 1;
}
.navbar-nav > li > a {
	color: #333333;
	font-size: 12px;
	line-height: 1;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: .2s ease-out;
}
.nav > li > a:hover,
.nav > li > a:focus {
	background-color: #f8f8f8;
	color: #333333;
	transition: .2s ease-out;
}
.navbar-nav a.icon-twitter,
.navbar-nav a.icon-facebook {
	display: none;
}

/* title
------------------------- */
h1.title {
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0 8px;
	padding: 0;
	width: 100%;
	text-align: center;
	line-height: 1;
}
.date {
	color: #999999;
	display: block;
	font-size: 12px;
	font-weight: normal;
	padding: 4px 0 0;
}
.publish_date {
	margin-right: 12px;
}
.publish_date > time,
.refix_date > time {
	margin-right: 4px;
}

/* brand-button
------------------------- */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
	margin-left: 0;
}
a.navbar-brand {
	color: #999999;
	font-size: 14px;
	height: 48px;
	left: 0px;
	line-height: 1;
	padding: 17px 16px 14px;
	position: absolute;
	transition: .2s ease-out;
}
a.navbar-brand:hover {
	color: #333333;
	transition: .2s ease-out;
}
a.navbar-brand span {
	width: 140px;
	height: 14px;
}

/* sns-button
------------------------- */
.sns {
	right: 8px;
	position: absolute;
	line-height: 1;
}
.sns a {
	color: #999999;
	display: inline-block;
	font-size: 14px;
	margin: 0;
	padding: 16px 8px;
	transition: .2s ease-out;
}
.sns a:hover,
.sns a:focus {
	color: #333333;
	display: inline-block;
	text-decoration: none;
	transition: .2s ease-out;
}
.icon-twitter,
.icon-facebook {
	width: auto;
}
.icon-twitter:before {
	font-size: 16px;
	padding-right: 5px;
	vertical-align: -0.13em;
}
.icon-facebook:before {
	font-size: 16px;
	padding-right: 2px;
	vertical-align: -0.13em;
}
#fbcount, #ttcount {
	opacity: 0;
}

/* footer
-------------------------------------------------- */
.copyright {
	background-color: #0a385b;
}
.copyright_body {
	margin: auto;
	padding: 14px 0;
	text-align: center;
	font-size: 0;
}
.copyright_logo {
	vertical-align: middle;
}
.copyright_logo img {
	vertical-align: middle;
}
.copyright_text {
	color: #ffffff;
	margin: 0 0 0 8px;
	font-size: 14px;
	vertical-align: middle;
}
.copyright_text br {
	display: none;
}

/* button
-------------------------------------------------- */
.btn {
	border-radius: 0;
	padding: 5px 12px;
}
.btn-default {
	border-color: #e8e8e8;
	transition: .2s ease-out;
}
.btn-default:hover {
	border-color: #e8e8e8;
	background-color: #f8f8f8;
	transition: .2s ease-out;
}

/* modal
-------------------------------------------------- */
.modal-header {
	background-color: #0a385b;
	color: #ffffff;
	border-bottom: 0;	
	width: 100%;
	padding: 15px 16px;
}
.modal-header h4,
.modal-header button {
	vertical-align: middle;
}
.modal-header .modal-sub-title {
	font-size: 12px;
	margin-left: 8px;
}
.modal-header button {
	margin-left: 8px;
}
.modal-header button span {
	font-size: 36px;
	font-weight: normal;
	line-height: .5;
}
.modal-header .close {
	color: #ffffff;
	margin-top: 0;
	text-shadow: none;
	opacity: 1;
}
.modal-header .close:hover {
	opacity: .7;
}
.modal-header .close:focus {
	outline: none;
}
.modal-content {
	border: 0;
	border-radius: 0;
}
.modal-body {
	padding: 14px 16px 14px;
}
.modal-content .icon-newspaper:before {
	position: absolute;
	bottom: 25px;
}
.modal-footer {
	border-top: 1px solid #e8e8e8;
	padding: 16px;
}

/* responsive
-------------------------------------------------- */
@media (max-width: 979px) {
}
@media (max-width: 767px) {
	a.navbar-brand {
		display: none;
	}
	.sns {
		text-align: center;
		right: 0;
	}
	.sns a {
		font-size: 10px;
		padding: 12px 8px 10px;
	}
	.sns .icon-twitter:before,
	.sns .icon-facebook:before {
		display: block;
		padding-right: 0;
	}
	.btn {
		padding: 9px 12px;
	}
	.modal-content .icon-newspaper:before {
		bottom: 30px;
	}
}
@media (max-width: 479px) {
	.navbar h1.title {
		margin: 11px 0 9px;
		padding: 0px 8px 0;
		text-align: left;
	}
	.date {
		font-size: 10px;
		padding: 4px 0 0;
	}
	.publish_date {
		margin-right: 8px;
	}
	.copyright_text {
		font-size: 12px;
	}
	.copyright_text br {
		display: inline;
	}
	.modal-header {
		text-align: center;
	}
	.modal-header .modal-sub-title {
		display: block;
		margin: 0 auto;
	}
	.modal-body {
		height: 300px;
		overflow: scroll;
	}
}
@media (max-width: 319px) {
}

/* icomoon
-------------------------------------------------- */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?njr3tv');
	src:url('../fonts/icomoon.eot?#iefixnjr3tv') format('embedded-opentype'),
		url('../fonts/icomoon.woff?njr3tv') format('woff'),
		url('../fonts/icomoon.ttf?njr3tv') format('truetype'),
		url('../fonts/icomoon.svg?njr3tv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-newspaper:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-reddit:before {
	content: "\e603";
}