<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>世代と税負担、あなたの場合は：日本経済新聞</title>
<meta name="viewport"     content="width=device-width">
<meta name="viewport"     content="initial-scale=1.0, user-scalable=no" />
<meta property="og:image" content="http://localhost:1313/prj/tax-exemption/img/OGimage.jpg" />
<meta property="og:url"   content="http://localhost:1313/prj/tax-exemption/" />
<meta property="og:title" content=    "「税金考」連動企画　世代と税負担　あなたの場合は"  />
<meta property="og:description" content=    "給与所得と年金所得、扶養家族の有無で税負担はどのくらい違うのか。シミュレータで検証できる。"  />
<meta property="fb:app_id" content="197388106979545" />
<meta name="twitter:site" content="@nikkei" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content=  "img/OGimage.jpg"  />
<meta name="twitter:url" content="http://localhost:1313/prj/tax-exemption/" />
<meta name="description" content="日本経済新聞の１面企画「税を語る」連動記事。給与所得と年金所得、扶養家族のありなしで税負担はどのくらい違うのか。所得や家族構成を入力すると自動で計算してくれるシミュレーターです。" />
<meta name="keywords" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="../../css/bootstrap.css" rel="stylesheet">






<link href="../../css/project_style.css" rel="stylesheet">


<link href="../../css/temp_style.css" rel="stylesheet">





<script src = "../../js/stagingSpecificity.js" ></script>



  <link href="./css/style.css" rel="stylesheet">






<script src="../../js/jquery.min.js " type="text/javascript"></script>

<script src="../../js/d3.v3.min.js " type="text/javascript"></script>

<script src="../../js/lodash.min.js " type="text/javascript"></script>



<script src="./js/vue.js" type="text/javascript"></script>


<style type="text/css">.content-visual{background-image: url(
  
   "./img\2f cover_bg.png"
  
  );}</style>
</head>

<body>
  <div class="navbar" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="http://www.nikkei.com/"><span class="icon-newspaper"></span></a>
			<div class="sns">
				<a href="#" class="icon-facebook" id="fbcount">0000</a><a href="#" class="icon-twitter" id="ttcount">0000</a>
			</div>
			<h1 class="title">世代と税負担、あなたの場合は
				<span class="date"><span class="publish_date"><time>2015.6.4</time>公開</span>
				
				</span></h1>
		</div>
	</div>
</div>

  <div class="wrapper" style="width: 100%;">

    <div id="slide01" class="content-visual">
  		<h2>世代と税負担　あなたの場合は</h2>
  	</div>
  	

    <div class="content">


      <!-- income table -->
    <div class="content-text">
      <p>　　高齢者ほど優遇される「世代間格差」は税にもある。どの程度の差があるのか、税理士法人Ａ・Ｉブレインの伊藤謙信税理士の協力を得て、給与所得者の負担額や控除額が試算できるシミュレーションを作り、比較できるようにしてみた。<br>
なお、これは①通勤費は考慮しない②健康保険は全国健保協会管掌③厚生年金保険料率は2014年９月～15年８月適用分の利率④年収はすべて月額給与でもらうと仮定、で計算した簡易版で、16歳未満の子供は児童手当が別途支給されることになる。</p>
    </div>

<!--    <div class="content-text">
      <p>そこで、税理士法人Ａ・Ｉブレインの伊藤謙信税理士の協力を得て、給与所得者の負担額や控除額が試算できるシミュレーションを作り、比較できるようにしてみた。<br>　「簡素」とはほど遠い複雑な税制ゆえ、控除額などは細かく条件が分かれる。ここでは簡易版として①通勤費は考慮しない②健康保険は全国健保協会管掌③厚生年金保険料率は2014年９月～15年８月適用分の利率で計算した。16歳以下の子供は扶養控除の対象にはならないが、子育て世帯への給付金が別途支給されることになる。この前提を踏まえた上で、給与額や配偶者の有無などを入力し、課税額や控除額を調べてみよう。<br></p>
    </div> -->


    <!-- tax step1 -->
    <div class="tax">
      <div class="read">
        <!-- <img src="img/icon-01.png"> -->
        <div class="help-img">
          <p>?</p>
        </div>
        <p>大まかな給与収入額を入力し、条件を選択すると、各税額や控除額が表示される。</p>
        <p class="caution">注）１６歳未満の子供は扶養控除の対象にならないが、児童手当が支給される。</p>
      </div>
      <div id="tax-input">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="給与所得金額（万円）を入力して下さい。半角数字のみ" v-model="income" v-on="keyup: confirmCalc" type='number'>
            <span class="input-group-addon">万円</span>
          </div>
          <p id='check-num' style="display:none;color:red;">半角数字のみ使用できます</p>
        </div>
        <ul class="form-group">
          <li class="li-01">
            <div class="form-name">
              <img src="img/icon001.svg" alt="年齢" class="icon">
              <span>年　齢</span>
            </div>
            <label for="age">
              <select id="age" v-model="age_select" v-on="change: confirmCalc">
                <option value="true">40歳以上</option>
                <option value="false" selected>40歳未満</option>
              </select>
            </label>
          </li>
          <li class="li-02">
            <div class="form-name">
              <img src="img/icon002.svg" alt="配偶者" class="icon">
              <span>配偶者</span>
            </div>
            <input type="checkbox" id="c1" v-model="checked" v-on="click: confirmCalc">
            <label for="c1" class="checkbox">
              <!-- {{checked ? "有" : "無"}} -->
            </label>
          </li>
          <li class="li-03">
            <div class="form-name">
              <img src="img/icon003.svg" alt="子供の人数" class="icon">
              <span>子供の人数</span>
            </div>
            <div class="child-select">
              <label for="child01">
                <span class="form-name-child">16歳以上</span>
                <select id="child01" v-model="child16" v-on="change: confirmCalc">
                  <option value="0" selected>0人</option>
                  <option value="1">1人</option>
                  <option value="2">2人</option>
                  <option value="3">3人</option>
                  <option value="4">4人</option>
                  <option value="5">5人</option>
                </select>
              </label>
              <label for="child02">
                <span class="form-name-child">19歳以上</span>
                <select id="child02" v-model="child19" v-on="change: confirmCalc">
                  <option value="0" selected>0人</option>
                  <option value="1">1人</option>
                  <option value="2">2人</option>
                  <option value="3">3人</option>
                  <option value="4">4人</option>
                  <option value="5">5人</option>
                </select>
              </label>
              <label for="child03">
                <span class="form-name-child">23歳以上</span>
                <select id="child03" v-model="child23" v-on="change: confirmCalc">
                  <option value="0" selected>0人</option>
                  <option value="1">1人</option>
                  <option value="2">2人</option>
                  <option value="3">3人</option>
                  <option value="4">4人</option>
                  <option value="5">5人</option>
                </select>
              </label>
            </div>
                  </li>
          <li  class="li-04">
            <div class="form-name">
              <img src="img/icon004.svg" alt="同居する扶養家族" class="icon">
              <span>同居する扶養親族</span>
            </div>
            <label for="huyo01">
              <select id="huyo01" v-model="gpsame" v-on="change: confirmCalc">
                <option value="0" selected>0人</option>
                <option value="1">1人</option>
                <option value="2">2人</option>
                <option value="3">3人</option>
                <option value="4">4人</option>
                <option value="5">5人</option>
              </select>
            </label>
          </li>
          <li class="li-05">
            <div class="form-name">
              <img src="img/icon005.svg" alt="同居しない扶養家族" class="icon">
              <span>同居しない扶養親族</span>
            </div>
            <label for="huyo02">
              <select id="huyo02" v-model="gpdiff" v-on="change: confirmCalc">
                <option value="0" selected>0人</option>
                <option value="1">1人</option>
                <option value="2">2人</option>
                <option value="3">3人</option>
                <option value="4">4人</option>
                <option value="5">5人</option>
              </select>
            </label>
          </li>
        </ul>
        <div class="output">
          <p class="input-income">収入：<span>{{income}}</span>万円とすると...</p>
          <button type="submit" class="btn btn-primary" onclick="$('#noModal').modal();">計算式について</button>
          <div class="calc-output">
            <table class="calc-left">
              <tr>
                          <th class="output-name">給与所得控除</th>
                          <td class="output-data">{{d_income}}<span>円</span></td>
                      </tr>
                      <tr>
                <th class="output-name">社会保険料控除</th>
                          <td class="output-data">{{d_social}}<span>円</span></td>
                        </tr>
                        <tr>
                          <th class="output-name">配偶者控除(所得税)</th>
                          <td class="output-data">{{d_spouse}}<span>円</span></td>
                        </tr>

                      </table>
                      <table class="calc-right">
                        <tr>
                          <th class="output-name">扶養控除(所得税)</th>
                          <td class="output-data">{{d_dependents}}<span>円</span></td>
                        </tr>
                        <tr>
                          <th class="output-name">配偶者控除(住民税)</th>
                          <td class="output-data">{{d_spouse4city}}<span>円</span></td>
                        </tr>
                        <tr>
                          <th class="output-name">扶養控除(住民税)</th>
                          <td class="output-data">{{d_dependents4city}}<span>円</span></td>
                        </tr>
                      </table>

                      <div class="taxable">
                        <p>所得税の課税所得：<span>{{taxable}}</span>円</p>
                      </div>

                      <div class="calc-bottom">
                        <table class="calc-bottom-table">
                          <tr class="calc-bottom-tr">
                            <td rowspan="3" class="calc-bottom-head"><p class="burden">負担合計</p><p>{{sum_tax}}</p></td>
                            <th class="output-name3"><span class="calc-color1"></span>社会保険料</th>
                            <td class="output-data3">{{d_social}}<span>円</span></td>
                          </tr>
                          <tr>
                            <th class="output-name3"><span class="calc-color2"></span>所得税額</th>
                            <td class="output-data3">{{tax}}<span>円</span></td>
                          </tr>
                          <tr>
                            <th class="output-name3"><span class="calc-color3"></span>住民税額</th>
                            <td class="output-data3">{{tax4city}}<span>円</span></td>
                          </tr>
                        </table>
                      </div>
                      <div class="total">
                        <p><span class="output-name3">可処分所得</span><span class="output-data3">{{total}}</span></p>
                      </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /tax step01 -->

    <div class="content-text">
      <p>　下記に年金受給者、年金と給与双方を受け取っている人の一例を掲載した。可処分所得を比べると、給与所得者であるあなたの方が下回ることが多いのではないだろうか。児童手当を加えても、少ないかもしれない。</p>
    </div>

        <!-- tab table -->
    <div class="tab-table">
      <!--タブ-->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">200万円での比較</a></li>
        <li><a href="#tab2" data-toggle="tab">300万円での比較</a></li>
        <li><a href="#tab3" data-toggle="tab">400万円での比較</a></li>
      </ul>
      <!-- / タブ-->
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <div class="income">
            <table class="income-table">
              <tbody>
                <tr>
                  <th class="income-table-case"></th>
                  <td class="income-table-case">case1<br><span>年金（既婚・妻扶養）</span></td>
                  <td class="income-table-case">case2<br><span>年金＋給与（既婚・妻扶養）</span></td>
                </tr>
                <tr class="income-table-tr1">
                  <th class="income-table-pt1">給与収入</th>
                  <td class="income-table-pt1">0</td>
                  <td class="income-table-pt1">1,000,000</td>
                </tr>
                <tr class="income-table-tr1">
                  <th class="income-table-pt1">年金収入</th>
                  <td class="income-table-pt1">2,000,000</td>
                  <td class="income-table-pt1">1,000,000</td>
                </tr>
                <tr class="income-table-tr2">
                  <th class="income-table-pt2"><span class="calc-color1"></span>社会保険料①</th>
                  <td class="income-table-pt2">206,901</td>
                  <td class="income-table-pt2">168,966</td>
                </tr>
                <tr class="income-table-tr2">
                  <th class="income-table-pt2"><span class="calc-color2"></span>所得税②</th>
                  <td class="income-table-pt2">0</td>
                  <td class="income-table-pt2">0</td>
                </tr>
                <tr class="income-table-tr2">
                  <th class="income-table-pt2"><span class="calc-color3"></span>住民税③</th>
                  <td class="income-table-pt2">0</td>
                  <td class="income-table-pt2">0</td>
                </tr>
                <tr class="income-table-tr3">
                  <th class="income-table-sum">負担合計(①+②+③)</th>
                  <td class="income-table-sum">206,901</td>
                  <td class="income-table-sum">168,966</td>
                </tr>
                <tr class="income-table-tr3">
                  <th class="income-table-sum">差引＝可処分所得</th>
                  <td class="income-table-sum">1,793,099</td>
                  <td class="income-table-sum">1,831,034</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="tab2">
          <div class="income">
            <table class="income-table">
              <tbody>
                <tr>
                  <th class="income-table-case"></th>
                  <td class="income-table-case">case1<br><span>年金（既婚・妻扶養）</span></td>
                  <td class="income-table-case">case2<br><span>年金＋給与（既婚・妻扶養）</span></td>
                </tr>
                <tr class="income-table-tr1">
                  <th class="income-table-pt1">給与収入</th>
                  <td class="income-table-pt1">0</td>
                  <td class="income-table-pt1">1,000,000</td>
                </tr>
                <tr class="income-table-tr1">
                  <th class="income-table-pt1">年金収入</th>
                  <td class="income-table-pt1">3,000,000</td>
                  <td class="income-table-pt1">2,000,000</td>
                </tr>
                <tr class="income-table-tr2">
                  <th class="income-table-pt2"><span class="calc-color1"></span>社会保険料①</th>
                  <td class="income-table-pt2">354,921</td>
                  <td class="income-table-pt2">292,966</td>
                </tr>
                <tr class="income-table-tr2">
                  <th class="income-table-pt2"><span class="calc-color2"></span>所得税②</th>
                  <td class="income-table-pt2">34,900</td>
                  <td class="income-table-pt2">4,900</td>
                </tr>
                <tr class="income-table-tr2">
                  <th class="income-table-pt2"><span class="calc-color3"></span>住民税③</th>
                  <td class="income-table-pt2">78,500</td>
                  <td class="income-table-pt2">19,700</td>
                </tr>
                <tr class="income-table-tr3">
                  <th class="income-table-sum">負担合計(①+②+③)</th>
                  <td class="income-table-sum">468,321</td>
                  <td class="income-table-sum">317,566</td>
                </tr>
                <tr class="income-table-tr3">
                  <th class="income-table-sum">差引＝可処分所得</th>
                  <td class="income-table-sum">2,531,679</td>
                  <td class="income-table-sum">2,682,434</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="tab3">
          <div class="income">
            <table class="income-table">
              <tbody>
                <tr>
                  <th class="income-table-case"></th>
                  <td class="income-table-case">case1<br><span>年金（既婚・妻扶養）</span></td>
                  <td class="income-table-case">case2<br><span>年金＋給与（既婚・妻扶養）</span></td>
                </tr>
                <tr class="income-table-tr1">
                  <th class="income-table-pt1">給与収入</th>
                  <td class="income-table-pt1">0</td>
                  <td class="income-table-pt1">2,000,000</td>
                </tr>
                <tr class="income-table-tr1">
                  <th class="income-table-pt1">年金収入</th>
                  <td class="income-table-pt1">4,000,000</td>
                  <td class="income-table-pt1">2,000,000</td>
                </tr>
                <tr class="income-table-tr2">
                  <th class="income-table-pt2"><span class="calc-color1"></span>社会保険料①</th>
                  <td class="income-table-pt2">438,629</td>
                  <td class="income-table-pt2">373,467</td>
                </tr>
                <tr class="income-table-tr2">
                  <th class="income-table-pt2"><span class="calc-color2"></span>所得税②</th>
                  <td class="income-table-pt2">72,700</td>
                  <td class="income-table-pt2">45,200</td>
                </tr>
                <tr class="income-table-tr2">
                  <th class="income-table-pt2"><span class="calc-color3"></span>住民税③</th>
                  <td class="income-table-pt2">152,600</td>
                  <td class="income-table-pt2">98,600</td>
                </tr>
                <tr class="income-table-tr3">
                  <th class="income-table-sum">負担合計(①+②+③)</th>
                  <td class="income-table-sum">663,929</td>
                  <td class="income-table-sum">517,267</td>
                </tr>
                <tr class="income-table-tr3">
                  <th class="income-table-sum">差引＝可処分所得</th>
                  <td class="income-table-sum">3,336,071</td>
                  <td class="income-table-sum">3,482,733</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <p>注）65歳、子供は独立。配偶者は同い年で、年金含めた収入はゼロ。社会保険料は新宿区の基準で計算した。住民税の均等割は含めない</p>
      </div>
    </div>

    <!-- /tab table -->

    <div class="content-text2">
      <p>　これは1年間の収入、フローだけで格差を計算しており、資産、ストックは考慮していない。年金だけで細々と暮らしている高齢者には、優遇措置は必要だろう。でも、多額の金融資産を持ちながら、年金と給与所得双方がある「富裕層」も同じように対象になるのは……。「公平・中立・簡素」。税の三原則と呼ばれる基本中のキは置き去りにされたままだ。</p>
    </div>



  </div>
  <!-- content -->

</div>
<!-- wrapper -->

<div class="modal fade" id="noModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
      <div id='calc-prepare'>
        <div class="modal-left">
          <div class="calc-header">①給与所得控除額を計算する</div>
          <table class="calc-description">
            <tr>
                <th class="calc-condition">給与所得180万円以下</th>
                <td class="calc-formula">収入金額×0.4（65万円に満たない場合は65万円）</td>
            </tr>
            <tr>
              <th class="calc-condition">180万円超360万円以下</th>
                <td class="calc-formula">収入金額×0.3＋18万円</td>
            </tr>
            <tr>
                <th class="calc-condition">360万円超660万円以下</th>
                <td class="calc-formula">収入金額×0.2＋54万円</td>
            </tr>
            <tr>
                <th class="calc-condition">660万円超1000万円以下</th>
                <td class="calc-formula">収入金額×0.1＋120万円</td>
            </tr>
            <tr>
                <th class="calc-condition">1000万円超1500万円以下</th>
                <td class="calc-formula">収入金額×0.05＋170万円</td>
            </tr>
            <tr>
                <th class="calc-condition">1500万円超</th>
                <td class="calc-formula">245万円</td>
            </tr>
          </table>
        </div>
        <div class="modal-right">
          <div class="calc-header">②社会保険料控除額を計算する</div>
          <table class="calc-description">
            <tr>
                <th class="calc-condition">健康保険（40歳未満）</th>
                <td class="calc-formula">収入金額×0.04985</td>
            </tr>
            <tr>
              <th class="calc-condition">同（40歳以上65歳未満）</th>
                <td class="calc-formula">収入金額×0.05775</td>
            </tr>
            <tr>
                <th class="calc-condition">厚生年金保険料</th>
                <td class="calc-formula">収入金額×0.08737</td>
            </tr>
          </table>
        </div>
        <div class="modal-left">
          <div class="calc-header">③配偶者控除を計算する（所得税用）</div>
          <table class="calc-description">
            <tr>
                <th class="calc-condition">配偶者が控除対象者、給与103万円以下</th>
                <td class="calc-formula">38万円</td>
            </tr>
            <tr>
              <th class="calc-condition">それ以外</th>
                <td class="calc-formula">0円</td>
            </tr>
          </table>
        </div>
        <div class="modal-right">
          <div class="calc-header">④扶養控除を計算する（所得税用）</div>
          <table class="calc-description">
            <tr>
                <th class="calc-condition">子供が扶養親族で16歳以上19歳未満、23歳以上</th>
                <td class="calc-formula">38万円×人数</td>
            </tr>
            <tr>
              <th class="calc-condition">子供が扶養親族で19歳以上23歳未満</th>
                <td class="calc-formula">63万円×人数</td>
            </tr>
            <tr>
                <th class="calc-condition">本人か配偶者の70歳以上の父母、祖父母が扶養親族で同居している</th>
                <td class="calc-formula">58万円×人数</td>
            </tr>
            <tr>
                <th class="calc-condition">本人か配偶者の70歳以上の父母、祖父母が扶養親族で同居していない</th>
                <td class="calc-formula">48万円×人数</td>
            </tr>
          </table>
        </div>
        <div class="modal-left">
          <div class="calc-header">⑤配偶者控除を計算する（住民税用）</div>
          <table class="calc-description">
            <tr>
                <th class="calc-condition">配偶者が控除対象者、給与103万円以下</th>
                <td class="calc-formula">33万円</td>
            </tr>
            <tr>
              <th class="calc-condition">それ以外</th>
                <td class="calc-formula">0円</td>
            </tr>
          </table>
        </div>
        <div class="modal-right">
          <div class="calc-header">⑥扶養控除を計算する（住民税用）</div>
          <table class="calc-description">
            <tr>
                <th class="calc-condition">子供が扶養親族で16歳以上19歳未満、23歳以上</th>
                <td class="calc-formula">33万円×人数</td>
            </tr>
            <tr>
              <th class="calc-condition">子供が扶養親族で19歳以上23歳未満</th>
                <td class="calc-formula">45万円×人数</td>
            </tr>
            <tr>
                <th class="calc-condition">本人か配偶者の70歳以上の父母、祖父母が扶養親族で同居している</th>
                <td class="calc-formula">45万円×人数</td>
            </tr>
            <tr>
                <th class="calc-condition">本人か配偶者の70歳以上の父母、祖父母が扶養親族で同居していない</th>
                <td class="calc-formula">38万円×人数</td>
            </tr>
          </table>
        </div>
        <div class="calc-formula">⑦基礎控除額（所得税用）  38万円</div>
        <div class="calc-formula">⑧基礎控除額（住民税用）  33万円</div>
      </div>
      <div id='calc-main'>
        <div class="calc-header">【所得税額を計算】</div>
        <p>{ 給与所得－（①＋②＋③＋④＋⑦）｝×税率<br>給与所得－（①＋②＋③＋④＋⑦）は課税所得金額</p>
        <div class="calc-formula">税率</div>
        <table class="calc-description2">
          <tr>
              <th class="calc-condition">課税所得金額が195万円以下</th>
              <td class="calc-formula">課税所得金額×0.05105</td>
          </tr>
          <tr>
            <th class="calc-condition">195万円超330万円以下</th>
              <td class="calc-formula">課税所得金額×0.1021-99547</td>
          </tr>
          <tr>
              <th class="calc-condition">330万円超695万円以下</th>
              <td class="calc-formula">課税所得金額×0.2042-436477</td>
          </tr>
          <tr>
              <th class="calc-condition">695万円超900万円以下</th>
              <td class="calc-formula">課税所得金額×0.23483－649,356</td>
          </tr>
          <tr>
            <th class="calc-condition">900万円超1800万円以下</th>
              <td class="calc-formula">課税所得金額×0.33693－1,568,256</td>
          </tr>
          <tr>
              <th class="calc-condition">1800万円超4000万円以下</th>
              <td class="calc-formula">課税所得金額×0.4084-2,854,716</td>
          </tr>
          <tr>
              <th class="calc-condition">4000万円超</th>
              <td class="calc-formula">課税所得金額×0.45945-4,896,716</td>
          </tr>
        </table>
        <p>※課税所得は1000円未満切り捨て、税額は100円未満切り捨て</p>
        <div class="calc-footer">
          <p><span class="calc-header">【住民税額を計算】</span>｛給与所得－（①＋②＋⑤＋⑥＋⑧｝×0.1</p>
          <p class="calc-header">【負担額は】 社会保険料＋所得税＋住民税</p>
          <p class="calc-header">【可処分所得は】 給与収入－負担額</p>
        </div>
      </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">閉じる</button>
        </div>
      </div>
  </div>
</div>
<!-- ポップアップ -->



<!-- wrapper -->


      









<div class = "connection">
	<h5>関連記事</h5>
		<table>
			
			
				
					
						<tr>
								 <td><font  color="#0A385B">●</font></td>
							   <td><a href="http://www.nikkei.com/article/DGKKZO8635685001052015PPE000" target="_blank">給与からの控除減額へ&nbsp; &nbsp; 税理士　柴原一さん</a> </td>
								 <td>＞</td>
						</tr>
					
	    	
			
			
				
					
						<tr>
								 <td><font  color="#0A385B">●</font></td>
							   <td><a href="http://www.nikkei.com/article/DGKKASFS01H59_01052015EA2000" target="_blank">きょうのことば&nbsp; &nbsp; 所得税改革　結婚・子育て 若い世代後押し </a> </td>
								 <td>＞</td>
						</tr>
					
	    	
			
			
				
					
						<tr>
								 <td><font  color="#0A385B">●</font></td>
							   <td><a href="http://www.nikkei.com/article/DGKKASFS01H3E_01052015MM8000" target="_blank">配偶者控除とは&nbsp; &nbsp; </a> </td>
								 <td>＞</td>
						</tr>
					
	    	
			
			
				
					
						<tr>
								 <td><font  color="#0A385B">●</font></td>
							   <td><a href="http://www.nikkei.com/article/DGKKZO8651307008052015PPE000" target="_blank">はじめの一家修業中&nbsp; &nbsp; 家族で異なる所得控除 働き方や年齢が左右</a> </td>
								 <td>＞</td>
						</tr>
					
	    	
			
			
				
					
						<tr>
								 <td><font  color="#0A385B">●</font></td>
							   <td><a href="http://www.nikkei.com/article/DGKKASFS02H54_02062015EE8000" target="_blank">税金考&nbsp; &nbsp; 経費控除なぜ不便？ 利用条件、厳しく設定</a> </td>
								 <td>＞</td>
						</tr>
					
	    	
			
		</table>
</div>


      <div class="content-prev">
        <p class="btn-prev"><a href="http://vdata.nikkei.com/">＜ Visual Data 一覧へ戻る</a></p>
      </div>
    </div>
  </div>
  



  
<script src="../../js/bootstrap.min.js " type="text/javascript"></script>


<script src="./js/tax-input.js" type="text/javascript"></script>


  <script>
setTimeout(function(){
	var page_url = window.location.href;
	
	$.ajax({
		url:'https://graph.facebook.com/',
			dataType:'jsonp',
			data:{
			id: page_url
		},
		success:function(res){
			var num = 0;
			if(typeof res.shares == 'undefined') num = 0;
			else num = res.shares;
			$('#fbcount').text(num);
			
			$('#fbcount').delay(1000).animate({'opacity': '1'}, 500);
		}
	});
	$.ajax({
		url:'http://urls.api.twitter.com/1/urls/count.json',
		dataType:'jsonp',
		data:{
			url: page_url
		},
		success:function(res){
			var num = 0;
			if(typeof res.count == 'undefined') num = 0;
			num = res.count;
			$('#ttcount').text(num);
			
			$('#ttcount').delay(1000).animate({'opacity': '1'}, 500);
		}
	});

	$('#ttcount').on('click', function(e){
		e.preventDefault();
		var text = 			'給与所得と年金所得、扶養家族の有無で税負担はどのくらい違うのか。シミュレータで検証できる。#nikkei #給与 #控除'		;
		var url = 'http://twitter.com/share?count=horizontal&text='+encodeURIComponent(text)+'&url='+encodeURIComponent(page_url);
		var ttw = window.open(url, 'ttw', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1');
		ttw.focus();
	});
	$('#fbcount').on('click', function(e){
		e.preventDefault();
		var url = 'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(page_url);
		var fbw = window.open(url, 'fbw', 'width=650, height=450');
		fbw.focus();
	});

}, 1000);
var currentUrl = window.location.href
specifyStage(currentUrl)

</script>

  <div class="copyright">
	<div class="copyright_body">
		<span class="copyright_logo">
			
			<img src="../../img/logo_nikkei_footer.svg" alt="NIKKEI">
		</span>
		<span class="copyright_text">Nikkei Inc.<br> No reproduction without permission.</span>
	</div>
</div>





<script data-no-instant>document.write('<script src="http://'
        + (location.host || 'localhost').split(':')[0]
		+ ':1313/livereload.js?mindelay=10"></'
        + 'script>')</script></body>
</html>
