@charset utf-8;


/* default-setting
-------------------------------------------------- */
.navbar {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999;
}
/*.navbar {
	border-bottom: 1px solid #dddddd;
}*/
.wrapper {
	width: 100%;
	text-align: center;
}
.content {
  display: inline-block;
  width: 100%;
}


/* cover-visual
-------------------------------------------------- */
.cover-visual,
.cover-visual-2div,
.cover-visual-3div,
.cover-visual-4div {
	position: relative;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.cover-visual:before,
.cover-visual-2div:before,
.cover-visual-3div:before,
.cover-visual-4div:before {
	content: '';
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	opacity: .5;
}
.cover-visual:before,
.cover-visual-2div:before,
.cover-visual-3div:before,
.cover-visual-4div:before {
	background-image: url(../../img/prj2/dot.png);
	background-repeat: repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
	.cover-visual:before,
	.cover-visual-2div:before,
	.cover-visual-3div:before,
	.cover-visual-4div:before {
		background-image: url(../../img/prj2/dot@2x.png);
		background-size: 24px 24px;
	}
}
.cover-visual h2,
.cover-visual-2div h2,
.cover-visual-3div h2,
.cover-visual-4div h2 {
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #ffffff;
	height: 44px;
	padding: 0 24px;
	font-family: 'Hiragino Mincho ProN', 'ヒラギノ明朝 ProN W3', 'Meiryo-Mincho', 'メイリオ明朝', sans-serif;
	font-size: 32px;
	font-weight: normal;
	line-height: 1.4;
	letter-spacing: .2em;
	text-shadow: 1px 0px 10px #333333;
	-moz-text-shadow: 1px 0px 10px #333333;
	-webkit-text-shadow: 1px 0px 10px #333333;
	/*filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=0, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=90, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=180, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=270, strength=3, enabled=true);*/
}
.cover-visual h2 br,
.cover-visual-2div h2 br,
.cover-visual-3div h2 br,
.cover-visual-4div h2 br {
	display:none;
}
.cover-visual p {
	margin: 0;
}
a.cover-arrow {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 0px;
	width: 64px;
	color: #ffffff;
	font-size: 12px;
	transition: .2s ease-out;
	opacity: 1;
	text-shadow: 1px 0px 10px #333333;
	-moz-text-shadow: 1px 0px 10px #333333;
	-webkit-text-shadow: 1px 0px 10px #333333;
	/*-webkit-font-smoothing: antialiased;*/
}
a.cover-arrow:hover,
a.cover-arrow:focus,
a.cover-arrow:visited {
	text-decoration: none;
}
a.cover-arrow:hover {
	transition: .2s ease-out;
	opacity: .5;
}
.cover-arrow .icon-arrowDown {
	font-size: 24px;
	display: block;
	margin-bottom: 8px;
}
/* part-fixed (content-visualと同じ挙動をするCSS制御) */
.part-fixed {
	background-attachment: fixed;
}
.cover-credit-inner,
.cover-credit-outer {
	position: absolute;
	margin: 0;
	font-size: 12px;
	line-height: 1.4;
	opacity: .8;
}

.cover-credit-inner {
	bottom: 8px;
	left: 16px;
	color: #ffffff;
	text-shadow: 1px 0px 10px #333333;
	-moz-text-shadow: 1px 0px 10px #333333;
	-webkit-text-shadow: 1px 0px 10px #333333;
	opacity: .8;
}
.cover-credit-outer {
	position: absolute;
	margin: 0;
	bottom: -22px;
	left: 16px;
	color: #666666;
}
/* cover-visual image-setting */
/*.cover-visual01 {
	background-image: url(../img/cover_bg1.png);
}*/
.cover-visual01 h2 {
	top: 48px;
}
/*.cover-visual02 {
	margin: 80px auto 0;
	background-image: url(../img/cover_bg2.png);
}*/
/*.cover-visual03 {
	margin: 80px auto 0;
	background-image: url(../img/cover_bg3.png);
}*/
/*.cover-visual04 {
	margin: 80px auto 0;
	background-image: url(../img/cover_bg4.png);
}*/


@media (max-width: 980px) {
	.cover-visual h2 br,
	.cover-visual-2div h2 br,
	.cover-visual-3div h2 br,
	.cover-visual-4div h2 br {
		display: inline;
	}
	.cover-visual h2,
	.cover-visual-2div h2,
	.cover-visual-3div h2,
	.cover-visual-4div h2 {
		height: 88px;
	}
	.cover-visual02,
	.cover-visual03,
	.cover-visual04 {
		margin: 64px auto 0;
	}
}
@media (max-width: 768px) {
	.cover-visual h2,
	.cover-visual-2div h2,
	.cover-visual-3div h2,
	.cover-visual-4div h2 {
		font-size: 24px;
		height: 66px;
	}
	.cover-credit-inner,
	.cover-credit-outer {
		left: 8px;
	}
	a.cover-arrow {
		bottom: 24px;
	}
	a.cover-arrow:hover {
		opacity: 1;
	}
}
@media (max-width: 480px) {
	.cover-visual h2,
	.cover-visual-2div h2,
	.cover-visual-3div h2,
	.cover-visual-4div h2 {
		font-size: 18px;
		font-weight: bold;
		height: 50px;
	}
}


/* content-text
-------------------------------------------------- */
.content-text {
	/*background: #f8f8f8;*/
	text-align: left;
	margin: 80px auto 0;
}
.content-text h3,
.content-text p,
.content-text ul {
	width: 640px;
}
.content-text h3 {
	font-family: 'Hiragino Mincho ProN', 'ヒラギノ明朝 ProN W3', 'Meiryo-Mincho', 'メイリオ明朝', sans-serif;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.4;
	margin: 80px auto 24px;
	text-align: left;
}
.content-text p {
	font-size: 16px;
	line-height: 1.75;
	margin: 24px auto 0;
}
.content-text p img {
	width: 100%;
	height: auto;
	margin: 5px auto;
}
.content-text ul {
	font-size: 14px;
	margin: 24px auto 0;
	padding-left: 16px;
}
.content-text ul li {
	line-height: 1.4;
	margin-top: 8px;
}


/* image-box
-------------------------------------------------- */
/* image-box */
p.image-photo {
	position: relative;
	display: block;
}

/* image-credit */
span.image-credit {
	position: absolute;
	display: block;
	z-index: 100;
	bottom: 0px;
	left: 0px;
	padding: 13px 8px;
	color: #ffffff;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.4;
	width: 100%;
	text-shadow: 1px 0px 1px rgba(0, 0, 0, .5);
	-moz-text-shadow: 1px 0px 1px rgba(0, 0, 0, .5);
	-webkit-text-shadow: 1px 0px 1px rgba(0, 0, 0, .5);
}
.image-box980 span.image-credit,
.image-boxFull span.image-credit {
	padding: 21px 16px;
}

/* image-caption */
p.image-caption {
	margin: -5px auto 0;
	padding: 7px 8px;
	font-size: 12px;
	color: #666666;
	line-height: 1.4;
	border: 1px solid #dddddd;
	border-top: 0;
}
.image-box980 p.image-caption,
.image-boxFull p.image-caption {
	padding: 14px 16px;
}
.image-boxFull p.image-caption {
	border: 0;
	border-bottom: 1px solid #dddddd;
}

/* common */
.image-box640,
.image-box980,
.image-boxFull {
	margin: 24px auto 0;
	padding-bottom: 5px;
}

/* width 640px */
.image-box640 {
	width: 640px;
}
.image-box640 p.image-photo,
.image-box640 p.image-caption {
	width: 100%;
}

/* width 980px */
.image-box980 {
	width: 980px;
}
.image-box980 p.image-photo,
.image-box980 p.image-caption {
	width: 100%;
}

/* width 100% */
.image-boxFull,
.image-boxFull p.image-photo,
.image-boxFull p.image-caption {
	width: 100%;
}


/* content-prev
-------------------------------------------------- */
.content-prev {
	border-top: 1px solid #dddddd;
	width: 640px;
	margin: 80px auto 0;
	text-align: center;
}
.content-prev p.btn-prev {
	margin: 0 auto;
}
.content-prev a {
	color: #333333;
	padding: 16px;
	font-size: 14px;
	display: inline-block;
	line-height: 1;
}

/* content-credit
-------------------------------------------------- */
.content-text p.content-credit {
	font-size: 12px;
	line-height: 1.4;
}


/* graph-box
-------------------------------------------------- */
/* btn-about-graph */
p.btn-about-graph {
	display: inline-block;
	margin: 0 0 16px 0;
	width: auto;
	float: right;
}
p.btn-about-graph a {
	display: inline-block;
	color: #7f7f7f;
	font-size: 12px;
	padding: 9px 8px;
	background-color: #ffffff;
	border: 1px solid #e8e8e8;
	border-radius: 2px;
	line-height: 1;
	text-decoration: none;
	transition: .2s ease-out;
}
p.btn-about-graph a:hover,
p.btn-about-graph a:active {
	color: #333333;
	border: 1px solid #cccccc;
}
p.btn-about-graph a:hover {
	background-color: #f8f8f8;
	transition: .2s ease-out;
}
p.btn-about-graph a:active {
	background-color: #eeeeee;
	box-shadow: inset 0 2px 4px rgba(0,0,0,.125);
	transition: .2s ease-out;
}

/* btn-group */
.btn-group {
	text-align: left;
	margin: 0 0 8px 0;
	width: auto;
}
.btn-group:after {
	display: block;
	content: "";
	clear: both;
}
.btn-group label {
	margin: 0 0 8px 0;
}
.btn-group div {
	position: relative;
	display: block;
	cursor: pointer;
	padding: 9px 8px 9px;
	color: #7f7f7f;
	font-size: 12px;
	font-weight: normal;
	background-color: #ffffff;
	border: 1px solid #e8e8e8;
	border-radius: 2px;
	line-height: 1;
	transition: .2s ease-out;
}
.btn-group input + div:hover {
	color: #333333;
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	transition: .2s ease-out;
}
.btn-group input:checked + div {
	color: #333333;
	background-color: #eeeeee;
	border: 1px solid #cccccc;
	box-shadow: inset 0 2px 4px rgba(0,0,0,.125);
	transition: .2s ease-out;
}
.btn-group input {
	display: none;
}

/* legend */
ul.graph-legend {
	color: #7f7f7f;
	font-size: 12px;
	font-weight: normal;
	margin: 4px 0 0;
	padding: 0;
	text-align: center;
	line-height: 1;
	width: auto;
}
ul.graph-legend li {
	position: relative;
	padding: 0;
	padding: 0px 8px 0px 16px;
	line-height: 1.75;
	display: inline-block;
}
ul.graph-legend li:before {
	content: "";
	position: absolute;
	top: 50%;
	width:  12px;
	height: 12px;
	left: 0px;
	margin-top: -6px;
	background-color: #000;
}
/*
li.legend01:before { background-color: #e0091b; }
li.legend02:before { background-color: #d98836; }
li.legend03:before { background-color: #a5a8bd; }
li.legend04:before { background-color: #85b500; }
li.legend05:before { background-color: #c4a4ad; }
li.legend06:before { background-color: #358d6b; }
li.legend07:before { background-color: #e4d7b0; }
li.legend08:before { background-color: #5c97b8; }
*/

/* common */
.graph-box640,
.graph-box980,
.graph-boxFull {
	margin: 24px auto 0;
}

/* width 640px */
.graph-box640 {
	width: 640px;
}

/* width 980px */
.graph-box980 {
	width: 980px;
}

/* width 100% */
.graph-boxFull {
	width: 100%;
}
.graph-boxFull p.btn-about-graph {
	margin-right: 16px;
}
.graph-boxFull .btn-group {
	margin-left: 16px;
}

/* graph-area */
.graph-area {
	/*width: 100%;*/
	height: 490px;
	background-color: #e8e8e8;
}


/* responsive
-------------------------------------------------- */
@media (max-width: 980px) {
	.content-visual {
		background-size: auto;
		background-position: top center;
	}
	.content-text,
	.content-prev {
		margin: 64px auto;
	}
	.content-prev {
		margin-bottom: 0;
	}
	.content-text h3 {
		margin: 64px auto 24px;
	}
	.content-text .image-box980,
	.content-text .image-box980 p.image-photo,
	.content-text .image-box980 p.image-caption {
		width: 100%;
	}
	.content-text .image-box980 p.image-caption {
		border: 0;
		border-bottom: 1px solid #dddddd;
	}
	.graph-box980 {
		width: 100%;
	}
	.graph-box980 p.btn-about-graph {
		margin: 0 16px 16px;
	}
	.graph-box980 .btn-group {
		margin: 0 16px 8px;
	}
	.graph-box980 ul.graph-legend,
	.graph-boxFull ul.graph-legend {
		margin: 4px 16px 0;
}
@media (max-width: 768px) {
	.content-visual {
		height: 248px;
	}
	.content-visual-title {
		display: none;
	}
	.content-text h3,
	.content-text p,
	.content-text ul {
		width: 83.3333%;
	}
	.content-text .image-box640 {
		width: 83.3333%;
	}
	.content-prev {
		width: 83.3333%;
	}
	.content-prev a {
		display: block;
		text-decoration: none;
	}
	.graph-box640 {
		width: 83.3333%;
	}
	.graph-box640 p.btn-about-graph {
		width: 100%;
		margin: 0 auto 24px;
		float: none;
		text-align: center;
	}
	.graph-box980 p.btn-about-graph,
	.graph-boxFull p.btn-about-graph {
		width: 83.3333%;
		margin: 0 8.3333% 24px;
		float: none;
		text-align: center;
	}
	.graph-box640 p.btn-about-graph a,
	.graph-box980 p.btn-about-graph a,
	.graph-boxFull p.btn-about-graph a {
		display: block;
	}
	.graph-box640 .btn-group {
		width: 100%;
		margin: 0 auto 16px;
		text-align: center;
	}
	.graph-box980 .btn-group,
	.graph-boxFull .btn-group {
		width: 83.3333%;
		margin: 0 8.3333% 16px;
		text-align: center;
	}
	.graph-box640 ul.graph-legend {
		width: 100%;
		margin: 11px auto 0;
	}
	.graph-box980 ul.graph-legend,
	.graph-boxFull ul.graph-legend {
		width: 83.3333%;
		margin: 11px 8.3333% 0;
	}
}
@media (max-width: 480px) {
	.content-text h3,
	.content-text p,
	.content-text ul {
		width: 90%;
	}
	.content-text .image-box640 {
		width: 90%;
	}
	.content-prev {
		width: 90%;
	}
	.graph-box640 {
		width: 90%;
	}
	.graph-box980 p.btn-about-graph,
	.graph-boxFull p.btn-about-graph {
		width: 90%;
		margin: 0 5% 24px;
	}
	.graph-box640 .btn-group {
		width: 100%;
		margin: 0 auto 16px;
	}
	.graph-box980 .btn-group,
	.graph-boxFull .btn-group {
		width: 90%;
		margin: 0 5% 16px;
	}
	.graph-box640 ul.graph-legend {
		width: 100%;
		margin: 11px auto 0;
	}
	.graph-box980 ul.graph-legend,
	.graph-boxFull ul.graph-legend {
		width: 90%;
		margin: 11px 5% 0;
	}
}
