@charset utf-8;

/* default-setting
-------------------------------------------------- */
.wrapper {
	text-align: center;
}
.content {
	display: inline-block;
	font-size: 16px;
	line-height: 1.75;
	width: 100%;
	text-align: left;
}
.content h3 {
	font-size: 21px;
	font-weight: bold;
	line-height: 1.4;
	/*margin: 48px auto 24px;*/
	margin: 80px auto 72px;
	text-align: left;
}
.content p {
	margin: 24px auto 0;
}
.content p img {
	max-width: 100%;
	height: auto;
	margin: 5px auto;
}
.content ul {
	margin-top: 24px;
	margin-bottom: 0;
	padding-left: 16px;
}
.content ul li {
	line-height: 1.4;
	margin-top: 8px;
}
.content iframe {
	margin-top: 24px;
}

/* content-visual
-------------------------------------------------- */
.content-visual {
	position: relative;
	width: 100%;
	height: 360px;
	background-attachment: fixed;
	background-size: 100%;
	background-image: url(../img/cover_bg.png);
	background-repeat: no-repeat;
}
.content-visual .content-visual-title {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 400px;
	max-width: 400px;
	/*height: 66px;*/
	/*max-height: 66px;*/
	background-image: url(../img/cover_title.png);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
}
.content-visual h2 {
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #ffffff;
	height: 33px;
	max-height: 66px; 
	font-family: 'Hiragino Mincho ProN', 'ヒラギノ明朝 ProN W3', 'Meiryo-Mincho', 'メイリオ明朝', sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 1.4;
	letter-spacing: .2em;
	/*text-shadow: 1px 0px 10px #333333;*/
	/*-moz-text-shadow: 1px 0px 10px #333333; */
	/*-webkit-text-shadow: 1px 0px 10px #333333; */
}
.content-visual h2 br {
	display:none;
}
@media (max-width: 479px) {
	.content-visual h2 {
		font-size: 21px;
		height: 56px;
		padding: 0 24px;
	}
	.content-visual h2 br {
		display: inline;
	}
}

/* content-text
-------------------------------------------------- */
.content-text {
	height: 100%;
	width: 640px;
	margin: 80px auto;
}

/* content-graph
-------------------------------------------------- */
.content-graph {
	position: relative;
	margin: 80px auto ;
}
.content-graph-header {
	width: 640px;
	margin: 0 auto;
}
.content-graph-header h3 {
	text-align: center;
	margin-bottom: 32px;
}
.content-graph-body1 {
	position: relative;
	width: 980px;
	height: 528px; /* btn(32px) + margin(16px) + content-default */
	margin: 0 auto;
}
p.btn-about-graph {
	position: absolute;
	right: 0;
	margin: 0;
}
.content-default {
	position: absolute;
	bottom: 0;
	width: 980px;
	height: 480px;
}
.btn-group-graph {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}
/*.content-graph-body2 {
	position: relative;
	width: 100%;
	height: 514px;
	margin: 0 auto;
}*/
/*.content-full {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 450px;
}*/




@media (max-width: 979px) {
	.content-visual {
		background-size: auto;
		background-position: top center;
	}
	.content h3 {
		margin: 64px auto 56px;
	}
	.content-graph-header h3 {
		margin-bottom: 16px;
	}
	.content-text,
	.content-graph {
		margin: 64px auto;
	}
	.content-graph,
	.content-graph-body1,
	.content-default,
	.content-full {
		width: 100%;
	}
	p.btn-about-graph {
		right: 16px;
	}
	.btn-group-graph {
		left: 16px;
	}
}

@media (max-width: 767px) {
	.content h3 {
		font-size: 18px;
	}
	.content-visual {
		height: 248px;
	}
	.content-visual-title {
		display: none;
		/*width: 90.2857%;*/
		/*min-width: 288px;*/
	}
	.content-text,
	.content-graph-header {
		width: 83.3333%;
	}
	.content-graph-body1 {
		height: auto;
		text-align: center;
	}
	p.btn-about-graph {
		position: static;
		margin: 24px 8.3333% 24px;
	}
	p.btn-about-graph a {
		width: 100%;
	}
	.content-default {
		position: static;
	}
	.btn-group-graph {
		position: static;
		margin: 24px 8.3333% 0;
	}
}

@media (max-width: 479px) {
	.content-text,
	.content-graph-header {
		width: 90%;
	}
	.content-graph-body1 {
		height: auto;
	}
	p.btn-about-graph {
		margin: 24px 5% 24px;
	}
	.content-default {
		height: 100vw;
	}
	.btn-group-graph {
		position: static;
		margin: 24px 5% 0;
	}
}